<ion-header [translucent]="true">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="back">
 <ion-card color="primary">
   <ion-card-title>
     <h2>Catalogue des PFEs</h2>
   </ion-card-title>
 </ion-card>
 
 <ion-button color="success" (click)="lien1();" >
  <ion-icon slot="start" name="add-circle-outline" > </ion-icon>
   Ajouter un étudiant
 </ion-button>
<ion-card *ngFor="let et of pfe"> 
  <ion-card-header>
  <ion-card-subtitle>Titre</ion-card-subtitle>
  <ion-card-title>{{et.titre}}</ion-card-title>

    <ion-card-subtitle>Type<ion-card-title>{{et.type}}</ion-card-title></ion-card-subtitle>
  
      <ion-card-subtitle>Etudiant<ion-card-title>{{et.etudiant}}</ion-card-title></ion-card-subtitle>
  
        <ion-card-subtitle>Enseignant<ion-card-title>{{et.enseignant}}</ion-card-title></ion-card-subtitle>
        </ion-card-header> 
        <ion-button color="danger" (click)="supp(et);">
         
          Supprimer
        </ion-button>
 </ion-card>
</ion-content>
